In [46]:
import regex as re
import csv
import tweepy
import pandas as pd

consumer_key = "betEttKKknqlsbDiCk5otZxtQ" #API key 
consumer_secret = "ldRL6iBTTf3SaWBlqBV3ZLNzorQsewcbqMifKef3EQgBFHwHtS" #API Secret Key
access_token = "1590069791305236481-XTHJuYeQJ70HiNJGNRnScZZKQlBExs"    #Access token key
access_token_secret = "txGz54SpHtGb47aCKRNLYd36N1dd3z47DAkENq3LQ6IwH" #Access token Secret key

###API authentication key
auth = tweepy.OAuth1UserHandler(
    consumer_key, consumer_secret,
    access_token, access_token_secret
)

###Tweepy API
api = tweepy.API(auth, wait_on_rate_limit=True)





username = "CreditLoan"
no_of_tweets =1000


try:
    ###The number of tweets we want to retrieved from the user
    tweets = api.user_timeline(screen_name=username, count=no_of_tweets)
    
    
    ###Attributes 
    attributes_container = [[tweet.id, tweet.created_at, tweet.favorite_count, tweet.source,  tweet.text, tweet.user.screen_name, tweet.lang, tweet.user.location, tweet.retweet_count, tweet.entities] for tweet in tweets]
    
    ###Creation of column in dataframe
    columns = ["Twitter_Id", "Date_Published", "Likes", "Source", "Tweet", "Name", "Language", "Location", " Retweets", "Entities"]
    
    
    ###Creation of Dataframe
    tweets_df = pd.DataFrame(attributes_container, columns=columns)
except BaseException as e:
    print('Fail',str(e))
    time.sleep(3)

In [47]:
try:
    tweet1 = tweepy.Cursor(api.search_tweets, q ='CreditLoan').items(200)
    hashtag_container = [[tweet.created_at] for tweet in tweet1]
    columns1 = ["Latest24hours"]

    tweets_df1 = pd.DataFrame(hashtag_container, columns=columns1)
except BaseException as e:
    print('Status Failed On,',str(e))
    time.sleep(3)

In [48]:
tweets_df1

               Latest24hours
0  2022-11-14 03:46:36+00:00
1  2022-11-13 11:05:17+00:00
2  2022-11-13 10:34:08+00:00
3  2022-11-11 11:03:14+00:00
4  2022-11-11 10:41:18+00:00
5  2022-11-11 10:20:33+00:00
6  2022-11-09 14:43:09+00:00
7  2022-11-08 14:54:26+00:00
8  2022-11-08 11:04:48+00:00
9  2022-11-08 10:32:21+00:00
10 2022-11-08 09:44:24+00:00
11 2022-11-08 03:36:50+00:00
12 2022-11-07 21:00:35+00:00
13 2022-11-07 10:44:25+00:00
14 2022-11-07 09:41:14+00:00
15 2022-11-06 20:15:38+00:00
16 2022-11-06 11:05:40+00:00
17 2022-11-06 10:56:43+00:00
18 2022-11-06 10:53:48+00:00
19 2022-11-06 10:48:28+00:00
20 2022-11-06 10:37:05+00:00
21 2022-11-06 10:27:04+00:00
22 2022-11-05 21:42:39+00:00
23 2022-11-05 21:28:10+00:00
24 2022-11-05 20:59:42+00:00
25 2022-11-05 20:53:21+00:00
26 2022-11-05 20:45:52+00:00
27 2022-11-05 20:19:16+00:00
28 2022-11-05 20:09:46+00:00
29 2022-11-05 14:44:54+00:00
30 2022-11-05 14:07:30+00:00

In [49]:
tweets_df

,Twitter_Id,Date_Published,Likes,Source,Tweet,Name,Language,Location,Retweets,Entities
0,1151207408179564546,2019-07-16 19:10:09+00:00,25,Hootsuite Inc.,Do you ever get a wrinkled and nearly destroye...,CreditLoan,en,Florida,2,"{'hashtags': [{'text': 'dollarbill', 'indices'..."
1,1149340041132544000,2019-07-11 15:29:54+00:00,10,Hootsuite Inc.,What are your plans after #highschool? Whether...,CreditLoan,en,Florida,0,"{'hashtags': [{'text': 'highschool', 'indices'..."
2,1148981491503943681,2019-07-10 15:45:09+00:00,5,Hootsuite Inc.,Whether you're trying to save up for something...,CreditLoan,en,Florida,0,"{'hashtags': [{'text': 'debt', 'indices': [76,..."
3,1148642974487777280,2019-07-09 17:20:00+00:00,2,Hootsuite Inc.,Did your old car finally bite the dust? Ready ...,CreditLoan,en,Florida,0,"{'hashtags': [{'text': 'autoloans', 'indices':..."
4,1146130110271184902,2019-07-02 18:54:47+00:00,3,Hootsuite Inc.,With all of the extra fees tacked onto an alre...,CreditLoan,en,Florida,0,"{'hashtags': [], 'symbols': [], 'user_mentions..."
...,...,...,...,...,...,...,...,...,...,...
195,411133511542640640,2013-12-12 14:00:42+00:00,1,Twitter Web Client,Modern day #business #solutions http://t.co/sI...,CreditLoan,en,Florida,1,"{'hashtags': [{'text': 'business', 'indices': ..."
196,410769906221604864,2013-12-11 13:55:52+00:00,1,Twitter Web Client,Did you have such a mistake on your #resume ht...,CreditLoan,en,Florida,0,"{'hashtags': [{'text': 'resume', 'indices': [3..."
197,410528712036470784,2013-12-10 21:57:26+00:00,1,Quorum Government Relations,Avoid holiday nightmares and identity theft: h...,CreditLoan,en,Florida,0,"{'hashtags': [], 'symbols': [], 'user_mentions..."
198,410029822765572096,2013-12-09 12:55:02+00:00,1,Twitter Web Client,Answer them like a #boss http://t.co/WQmEgXprE...,CreditLoan,en,Florida,0,"{'hashtags': [{'text': 'boss', 'indices': [19,..."
199,408974938557526017,2013-12-06 15:03:18+00:00,1,Twitter Web Client,Your #boss can't be this smart #LOL http://t.c...,CreditLoan,en,Florida,0,"{'hashtags': [{'text': 'boss', 'indices': [5, ..."

In [50]:
df = pd.concat([tweets_df, tweets_df1], axis = 1)

In [51]:
df.to_csv('CREDITfile_v2.csv')